// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
$header-font1: 'Montserrat', sans-serif;
$header-font2: 'Bebas Neue', cursive;
$header-font3: 'Alfa Slab One', cursive;

// Colors
$header-color1: #3d2514;
$color2: #ffc045;
$btns-back: #bf2222;