@import "vars";

/* */
body {
    overflow-x: hidden;
}
.header {
    background-image: url(../assets/background.png);
    height: 110vh;
    .nav-content {
        nav {
            padding: 40px;
            display: grid;
            grid-template-columns: repeat(10, auto);
            grid-template-areas: "logo logo logo logo logo logo logo logo logo exp";
            .logo {
                grid-area: logo;
                width: 180px;
                margin-left: 45px;
            }
            .exp-nav-links {
                grid-area: exp;
                .exp {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin-right: 45px;
                    .express-img {
                        padding-right: 10px;
                        width: 47px;
                    }
                    h4 {
                        font-family: $header-font1;
                        color: $header-color1;
                        font-size: 13px;
                        margin-top: 8px;

                    }
                }
                .nav-links {
                    margin-top: 18px;
                    display: flex;
                    justify-content: flex-end;
                    a {
                        text-decoration: none;
                        font-family: $header-font2;
                        color: $header-color1;
                        margin-right: 45px;
                        letter-spacing: 2.5px;
                        font-size: 20px;

                        &:hover {
                            color: white;
                            transition: 0.3s; 
                            font-size: 23px;
                        }
                    }
                }
            }
        }
    }
    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 50px;
        .part1-header {
            h3 {
                font-family: $header-font2;
                color: $header-color1;
                border: 2px $header-color1 dashed;
                width: 380px;
                padding: 5px;
                padding-left:9px;
                border-radius: 2px;
                font-size: 26px;
            }
            .h1-header-1 {
                position: relative;
                %h1-header-front-back-1 {
                    font-size: 120px;
                    font-family: $header-font3;
                    text-transform: uppercase;
                }
                .h1-header-front {
                    @extend %h1-header-front-back-1;
                    position: absolute;
                    color: $header-color1;
                }
                .h1-header-back {
                    @extend %h1-header-front-back-1;
                    padding: 6px;
                    color: white;
                }
            }
            .h1-header-2 {
                position: relative;
                margin-top: -30px;
                %h1-header-front-back-2 {
                    font-family: $header-font3;
                    text-transform: uppercase;
                    font-size: 50px;
                }
                .h1-header-front {
                    @extend %h1-header-front-back-2;
                    position: absolute;
                    color: $header-color1;
                }
                .h1-header-back {
                    @extend %h1-header-front-back-2;
                    padding: 6px;
                    color: white;
                } 

            }
        }
        .part2-header {
            .brg {
/*                 grid-area: im; */
/*                 margin-top: -50px; */
                position: relative;
            }
        }
    }
}

.page2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    %p-rl {
        position: absolute;
        color: white;
        font-family: $header-font2;
        font-size: 25px;
        line-height: 30px;
        padding: 18px;
        span {
            font-size: 35px;
        }
    }
    .page2-part1 {
        position: relative;
        cursor: pointer;
        &:hover {
            transform: scale(1.04);
            transition: 0.2s
        }
        h3 {
            @extend %p-rl;
        }
    }
    .page2-part2 {
        .page2-part2-1 {
            position: relative;
            cursor: pointer;
            &:hover {
                transform: scale(1.04);
                transition: 0.2s
            }
            h3 {
                @extend %p-rl;
            }

        }
        .page2-part2-2 {
            position: relative;
            cursor: pointer;
            &:hover {
                transform: scale(1.04);
                transition: 0.2s
            }
            margin-top: 35px;
            h3 {
                @extend %p-rl;
            }
        }
    }
}

.page3 {
    .page3-header {
        margin-top: 70px;
        text-align: center;
        h4 {
            background-color: $color2;
            padding: 13px;
            width: 220px;
            font-size: 23px;
            margin: 0 auto;
            color: $header-color1;
            font-family: $header-font2;
        }
        h2 {
            font-family: $header-font3;
            color: $header-color1;
            font-size: 50px;
        }
    }
    .page3-sides {
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
        align-items: center;
        h4 {
            font-family: $header-font2;
            font-size: 30px;
            color: $header-color1;
        }
        .bbtn {
            background-color: $btns-back;
            font-family: $header-font3;
            padding: 12px 20px;
            border: none;
            font-size: 15px;
            border-radius: 0;
        }
        img {
            &:hover {
                transform: scale(1.04);
                transition: 0.5s
            }
        }
    }
}

.container {
    .page4 {
        background-color: white;
        margin-top: 90px;
        width: 100%;
        height: 430px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        .page4-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .page4-part1 {
                padding-left: 60px;
                h3 {
                    font-family: $header-font2;
                    font-size: 28px;
                    color: $header-color1;
                    span {
                        font-family: $header-font3;
                        font-size: 37px;
                        color: $header-color1;
                    }
                }
            }
            img {
                padding-top: 23px;
                padding-right: 20px;
                
            }
        }
    }
}

.page5 {
    .form-back {
        background-image: url(../assets/form-background.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 800px;
        margin-top: 80px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        h3 {
            font-family: $header-font2;
            color: $header-color1;
            font-size: 30px;
        }
        h2 {
            font-family: $header-font3;
            color: $header-color1;
            font-size: 40px;
        }
        form {
            margin-top: 100px;
                input {
                    width: 340px;
                    height: 50px;
                    margin-top: 30px;
                    margin-left: 20px;
                    &::placeholder {
                        font-family: $header-font2;
                    }
                }
                button {
                    width: 340px;
                    margin-top: 30px;
                    height: 50px;
                    margin-left: 20px;
                    font-family: $header-font3;
                    background-color: #bf2222;
                }
        }
    }
}

footer {
    .footer-content {
        background-image: url(../assets/footer-back.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 450px;
        position: relative;
        .footer-part1 {
            h6 {
                position: absolute;
                bottom: 0;
                margin-bottom: 10px;
                font-size: 15px;
                font-weight: lighter;
                font-family: $header-font2;
                letter-spacing: 1px;
            }
        }
        .footer-part2 {
            h4 {
                font-family: $header-font2;
                font-size: 18px;
                letter-spacing: 1px;
            }
            img {
                margin-right: 10px;
            }
            .socialmedia-icons {
                position: absolute;
                bottom: 0;
                margin-bottom: 10px;
                right: 0;
                margin-right: 250px;
            }
        }
    }
}